<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<h1>Welcome, {{ name }} {{ user_id }} !</h1>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
	<div class="searchbox">
		<h2>Search</h2>
		<form action="{{ url_for('search') }}" method="GET">
			<input class="searchbar" placeholder="Name" type="text" name="name">
			<br><br>
			<input class="searchbar" placeholder="Author" type="text" name="author">
			<br><br>
			<input class="searchbar" placeholder="Genre" type="text" name="genre">
			<br><br>
			<button type="submit">Search</button>
		</form>
	</div>
	<a href="/addbook">Add Book</a>
	<br>
	<a href="/mybooks">My Books</a>
	<br>
	<a href="/logout">Logout</a>
</body>
</html>