<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<h1>Login Page</h1>
	<h3>{{msg}}</h3>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/background.css') }}">
</head>
<body>
	<form action="/checkuser" method="POST">
		<div class="container">
			<label for="uname"><b>Email</b></label>
			<input type="text" placeholder="Enter Email" name="email" required>
			<br>
			<br>
			<label for="psw"><b>Password</b></label>
			<input type="password" placeholder="Enter Password" name="psw" required>
			<br> 
			<br>
			<button type="submit">Login</button>
		  </div>
	</form>

	<br>
	<a href="{{ url_for('create_account') }}">Create new account</a>
</body>
</html>